[Unit]
Description=Cleanup OpenCPU Temp Files
JoinsNamespaceOf=apache2.service

[Service]
Type=oneshot
PrivateTmp=true
ExecStart=/usr/lib/opencpu/scripts/cleanocpu.sh
