Source: opencpu
Section: gnu-r
Priority: optional
Maintainer: Jeroen Ooms <jeroen@berkeley.edu>
Build-Depends: r-base-core (>= 3.5.1), r-base-dev (>= 3.5.1), r-cran-codetools, r-cran-lattice, libicu-dev, libprotobuf-dev, protobuf-compiler, apache2-dev, libapparmor-dev, libcurl4-openssl-dev, libssl-dev, libxml2-dev, libssh2-1-dev, xvfb, xauth, xfonts-base, debhelper (>> 4.1.0), pkg-config
Standards-Version: 3.9.4

Package: opencpu-server
Architecture: all
Depends: apache2, libapache2-mod-r-base (>= 1.2.5), opencpu-lib (= ${source:Version}), ssl-cert, locales
Recommends: mail-transport-agent, language-pack-en-base, apparmor, apparmor-utils, cron
Description: The OpenCPU cloud server based on rApache.
Provides: opencpu
Replaces: opencpu
Conflicts: r-cran-opencpu

Package: opencpu-cache
Architecture: all
Depends: ssl-cert, nginx (>= 1.12)
Description: The OpenCPU cache server and load balancer based on nginx.

Package: opencpu-lib
Architecture: any
Depends: r-base (>= 3.5.1), libc6, libssl-dev, libicu-dev
Recommends: libprotobuf-dev, r-base-dev, libssl-dev, libxml2-dev, libssh2-1-dev
Description: Package containing the platform specific R package buids.

Package: opencpu-tex
Architecture: all
Recommends: pandoc, texinfo, texlive-base, texlive-latex-base, texlive-generic-recommended, texinfo-doc-nonfree, texlive-latex-recommended, texlive-latex-extra, texlive-fonts-extra, texlive-fonts-recommended, texlive-binaries
Description: Meta package with tex and pandoc dependencies.

Package: opencpu-full
Architecture: all
Depends: opencpu, rstudio-server, git, opencpu-tex
Description: Meta package with opencpu, rstudio, latex, git, etc.
