Source: opencpu 
Section: gnu-r
Priority: optional
Maintainer: Jeroen Ooms <jeroen.ooms@stat.ucla.edu>
Build-Depends: r-base-core (>= 3.0), r-base-dev (>= 3.0), apache2-prefork-dev, libapparmor-dev, r-cran-rcpp (>= 0.10.2), libcurl4-openssl-dev, xvfb, xauth, xfonts-base, debhelper (>> 4.1.0)
Standards-Version: 3.9.4

Package: opencpu-server
Architecture: all
Depends: libapache2-mod-r-base (>= 1.2.4), opencpu-lib (= ${source:Version}), apache2-mpm-prefork, apparmor-utils, ssl-cert, language-pack-en-base
Description: The OpenCPU REST api for R. See www.opencpu.org for more information.

Package: opencpu-cache
Architecture: all
Depends: ssl-cert, nginx
Description: Cache server and load balancer for opencpu.

Package: opencpu-lib
Architecture: any
Depends: r-base-dev (>= 3.0), r-base (>= 3.0), r-cran-rcpp, libc6
Description: Package containing the platform specific R package buids.

Package: opencpu-tex
Architecture: all
Depends: pandoc, texinfo, texlive-base, texlive-latex-base, texlive-generic-recommended, texinfo-doc-nonfree, texlive-latex-recommended, texlive-latex-extra, texlive-fonts-extra, texlive-fonts-recommended
Description: Meta package with tex and pandoc dependencies.

Package: opencpu
Architecture: all
Depends: opencpu-server, opencpu-cache
Description: Meta package for opencpu. Installs both the API and caching server.

Package: opencpu-full
Architecture: all
Depends: opencpu-server, opencpu-cache, opencpu-tex, mail-transport-agent
Description: Meta package for opencpu. Installs lots of latex stuff as well.
