[Unit]
Description=OpenCPU Caching Server

[Service]
ExecStartPre=/etc/init.d/opencpu-cache start
ExecStop=/etc/init.d/opencpu-cache stop
RemainAfterExit=yes

[Install]
After=nginx.service
