[Unit]
Description=OpenCPU Caching Server

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/opencpu-cache start
ExecStop=/etc/init.d/opencpu-cache stop

[Install]
After=nginx.service
